.monCompte {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #564E4E;
}

#planeteTerreImage {
    width: 140px;
    height: auto;
    margin-top: 20px;
}

#poubelleIcone {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

#supprimerCompte {
    background: url(../Images/carton-body.webp);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 20px;
    padding: 15px 30px;
    font-family: 'fredoka';
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    color: #564E4E;
    border: 0.5px solid #564e4e38;
    box-shadow: 0 2px 4px #564e4e76;
    cursor: pointer;
}

#titreInformations {
    font-family: 'fredoka';
    font-size: 24px;
    margin: 0 0 10px;
}

.listeInformations {
    font-family: 'fredoka';
    margin-left: 20px;
    padding: 0 !important;
    list-style-type: none;
    align-self: flex-start;
}

.informations {
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0 10px;
}

.modification {
    list-style-type: none;
    font-style: oblique;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 5px;
}

.utilisateur {
    list-style-type: disc;
    font-size: 18px;
}

.phrasePrototype {
    font-size: 16px;
    font-family: 'fredoka';
    font-style: oblique;
    color: rgb(216, 0, 0);
    text-align: center;
    margin: 0 35px;
}