.initialisation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandeHorizontale1 {
    height: 4px;
    margin: 5px 0;
    background-color: #564E4E;
    width: 90%;
}

.bandeHorizontale2 {
    height: 2px;
    background-color: #564E4E;
    width: 80%;
}

.initialisation label {
    font-family: "Fredoka";
    display: inline-block;
    font-size: 18px;
    color: #564E4E;
    margin: 25px 0 4px 0;
}

.initialisation img {
    width: 200px;
    height: auto;
    left: 2px;
    top: -97px;
    position: absolute;
}

#passwordContainer {
    margin-top: 35px;
}

#initialisationButton {
    background-color: #564E4E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 30px;
    font-family: 'Cabin Sketch';
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    text-align: center;
    margin: 45px 20px;
    padding: 10px 25px;
}

#initialisationButton:disabled {
    background-color: rgba(255, 0, 0, 0.162);
    cursor: not-allowed;
    
}
