.inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandeHorizontale1 {
    height: 4px;
    margin: 5px 0;
    background-color: #564E4E;
    width: 90%;
}

.bandeHorizontale2 {
    height: 2px;
    background-color: #564E4E;
    width: 80%;
}

.inscription img {
    width: 200px;
    height: auto;
    left: 2px;
    top: -97px;
    position: absolute;
}

#submitButtonInscription, #submitButtonConnexionDesktop {
    background-color: #564E4E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 30px;
    font-family: 'Cabin Sketch';
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.523);
    text-align: center;
    margin: 45px 20px;
    padding: 10px 25px;
}


#submitButtonInscription:disabled, #submitButtonConnexionDesktop:disabled {
    background-color: rgba(255, 0, 0, 0.162);
    cursor: not-allowed;
}

#togglePassword {
    position: relative;
    bottom: -47px;
    right: -247px;
    background: none; /* Pas de fond */
    border: none; /* Pas de bordure */
    cursor: pointer;
}

#togglePassword img {
    width: 30px; 
    height: auto;
    opacity: 60%;
    display: inline-block; /* Aligne correctement l'image à l'intérieur du bouton */
    vertical-align: middle;
}

h3 {
    display: none;
}


@media (min-width: 760px) {
    .formulaireDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px #564e4e2f;
        width: 80vw;
        height: auto;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 8px;
        padding: 30px 20px 20px;
        margin: 50px 0;
        backdrop-filter: blur(10px);
        outline: 0.5px solid #564e4e76;
        outline-offset: -6px;
    }

    #forgettenPasswordConnexionDesktop {
        margin: 0 0 20px !important;
    }

    #inscription-form, #formConnexionDesktop {
        margin: 0;
    }

    h3 {
        display:flex;
        font-family: 'Fredoka';
        font-size: 22px;
        font-weight: 500;
        color: #564E4E;
        padding: 0 0 120px;
        z-index: 200;
    }

    #coordination {
        position: relative;
        font-size: 26px;
        font-family: 'fredoka';
        font-weight: 600;
        margin-top: auto;
        margin-bottom: auto;
        border: 5px solid #c0ec59;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 0 4px 8px #564e4e2f;
        margin-left: 0;
        margin-right: 0;
    }

    .inscription img {
        width: 180px;
        height: auto;
    }
}

@media (min-width: 1000px) {
    .formulaireDesktop {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
    }
}
